body{
    background: url(/image/hunter_x_hunterdark.jpg);
}

p{
    text-align: center;
    font-size: 55px;
    color: white;
}

#allpic{
    text-align: center;
    width: 603px;
    height: 483px;
    margin: auto;
}

#card1{
    position: relative;
}      

#barcode{
    position: absolute;
    bottom: 218px;
    left: 24px;
    width: 257px;
    height: 67px;
    background-color: rgba(255, 0, 0, 0.342);
}

#card1>img{
    height: 483px;
}

.card{
    display: inline;
}

#allpic>#card1>#barcode>img{
    width: 257px;
    height: 67px;
}

#download{
    margin-top: 70px;
    text-align: center;
}

input{
    width: 200px;
    height: 50px;
    font-size: 40px;
    background: linear-gradient(45deg, #4F4F4F 0%, #787878 84%, #D9D9D9 100%);
    transition-property: transform,box-shadow;
    transition: 0.5s;
}

input:hover{
    background: linear-gradient(45deg, #4F4F4F 0%, #787878 50%, #D9D9D9 100%);
    transform: scale(1.1);
    box-shadow: 5px 5px 10px 5px #000000;
}

input:active{
    box-shadow: inset 5px 5px 10px 5px #000000;
    transform: scale(1.0);
}