body{
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url(/image/questionbackground.png);
}

h1{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}

.whole{
    text-align: center;
    margin: auto;
    width: 800px;
}

.power{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.664);
    font-size: 50px;
}

.myButton{
    color: rgb(255, 255, 255); 
    font-size: 60px; 
    line-height: 60px; 
    padding: 6px; border-radius: 0px; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164);
    margin: auto; 
    margin-top: 20px;
    transition-property: transform;
    transition-duration: 0.5s;
}

.myButton:hover {
    background: #1C6EA4;
    transform: scale(1.05);
}

.myButton:active {
    box-shadow: inset 5px 5px 10px 5px #000000;
    transform: scale(0.95);
}